<script src="~/js/map.js"></script>
<link rel="stylesheet" href="~/css/map.css" />

<div class="col">
    <h2>Contacts:</h2>
    <p> Mobile phone: +359 222 999999</p>
    <p> City: Somewhere</p>
    <p> Street: OnTheRoad</p>
    <p> Number: 66</p>
    <p> Email: Somewherethere@mail.swt</p>
</div>

<div class="row">
    <div id="map"></div>

    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADOmP53dgEpHdKNe3oirsjAjB9Y6V3fZs&callback=initMap">
    </script>
</div>


